<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerlinkActive="active">
          <a [routerLink]="['/']">Home</a><!-- <a href="/">Home</a>--></li>
        <li role="presentation" routerlinkActive="active">
          <a [routerLink]="['/servers']" >Servers</a><!--<a href="/servers">Servers</a>--></li>
        <li role="presentation" routerlinkActive="active">
          <a [routerLink]="['/users']">Users</a><!--<a href="/users">Users</a>--></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <router-outlet></router-outlet>
     </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->
</div>
